$default-width: 70%;
$small-screen-width: 80%;

.blog-content-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: 768px) {
    width: $small-screen-width;
  }
}
