.app-container {
  @apply bg-stone-200 dark:bg-stone-800 text-stone-800 dark:text-stone-100 transition-colors duration-300 min-h-screen;
  min-width: 100vw;
}

.app-header {
  @apply flex justify-between items-center p-4;
}

.app-title {
  @apply text-2xl font-bold;
}
