<main class="container">
  <section class="mb-12">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="flex items-center justify-center">
        <img
          src="/assets/ai_book_club_meeting_1.png"
          alt="Placeholder Image"
          class="rounded-lg shadow-lg"
        />
      </div>
      <div class="flex flex-col justify-center">
        <h1 class="text-4xl font-bold mb-4">Velkommen til bogklubben</h1>
        <p class="text-lg text-gray-700 dark:text-gray-300 mb-6">
          Udforsk verden af ​​islamisk litteratur med os. Deltag i vores
          fællesskab for at diskutere og lære af en mangfoldig samling af bøger.
        </p>
      </div>
    </div>
  </section>

  <section class="grid grid-cols-1 md:grid-cols-3 gap-8">
    <div
      class="bg-gray-100 dark:bg-gray-900 p-6 rounded-lg shadow-lg transition-colors duration-300"
    >
      <h2 class="text-2xl font-semibold mb-2">Seneste bøger</h2>
      <ul class="divide-y divide-gray-200 dark:divide-gray-700">
        <li class="py-2">
          <button
            (click)="downloadPdf('Kitab-al-Irshad.pdf')"
            class="text-blue-600 dark:text-blue-400 hover:underline font-semibold"
          >
            Kitab al-Irshad [ENG]
          </button>
          <p class="text-gray-700 dark:text-gray-300">
            En biografi om de 12 imamers liv af Sheikh al-Mufid. Den beskriver
            deres historiske omstændigheder, mirakler og dyder.
          </p>
        </li>
      </ul>
    </div>

    <div
      class="bg-gray-100 dark:bg-gray-900 p-6 rounded-lg shadow-lg transition-colors duration-300"
    >
      <h2 class="text-2xl font-semibold mb-2">Kommende møder</h2>
      <ul class="divide-y divide-gray-200 dark:divide-gray-700">
        <li class="py-2 border-b border-gray-200 dark:border-gray-700">
          <a
            href="#"
            class="text-blue-600 dark:text-blue-400 hover:underline font-semibold block mb-1"
          >
            Møde #7
          </a>
          <p class="text-gray-700 dark:text-gray-300 text-sm mb-1">
            <b>Emne</b> Kapitel 5 af Kital al-Irshad
          </p>
          <p class="text-gray-700 dark:text-gray-300 text-sm mb-1">
            <b>Sted</b> Engmarken 6, 8220 Brabrand
          </p>
          <p class="text-gray-700 dark:text-gray-300 text-sm mb-1">
            <b>Tid</b> 29-12-2024 kl. 18:00
          </p>
        </li>
        <li class="py-2 border-b border-gray-200 dark:border-gray-700">
          <a
            href="#"
            class="text-blue-600 dark:text-blue-400 hover:underline font-semibold block mb-1"
          >
            Møde #6
          </a>
          <p class="text-gray-700 dark:text-gray-300 text-sm mb-1">
            <b>Emne</b> Film/dokumentar om Imam Ali (as) 🎥
          </p>
          <p class="text-gray-700 dark:text-gray-300 text-sm mb-1">
            <b>Sted</b> Engmarken 6, 8220 Brabrand
          </p>
          <p class="text-gray-700 dark:text-gray-300 text-sm mb-1">
            <b>Tid</b> 21-12-2024 kl. 18:00
          </p>
        </li>
      </ul>
    </div>

    <div
      class="bg-gray-100 dark:bg-gray-900 p-6 rounded-lg shadow-lg transition-colors duration-300"
    >
      <h2 class="text-2xl font-semibold mb-2">Vil du høre mere?</h2>
      <p class="text-gray-700 dark:text-gray-300">
        Hold dig opdateret med vores seneste nyheder, begivenheder og
        boganbefalinger ved at blive medlem af vores fællesskab.
      </p>
      <a
        href="mailto:bogklub@ikke-en-mail.com"
        class="bg-blue-600 text-white py-2 px-4 rounded-lg inline-block mt-4 hover:bg-blue-700 transition-colors duration-300"
        >Kontakt os</a
      >
    </div>
  </section>
</main>
