<main class="container animate-fade-in">
  <section class="mb-12">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="flex items-center justify-center">
        <img
          src="/assets/ai_book_club_meeting_1.png"
          alt="Placeholder Image"
          class="rounded-lg shadow-lg"
        />
      </div>
      <div class="flex flex-col justify-center">
        <h1 class="text-4xl font-bold mb-4">Velkommen til bogklubben</h1>
        <p class="text-lg text-gray-700 dark:text-gray-300 mb-2">
          Udforsk verden af ​​islamisk litteratur med os. Deltag i vores
          fællesskab for at diskutere og lære af en mangfoldig samling af bøger.
        </p>

        <div class="bg-gray-100 dark:bg-gray-900 p-6 rounded-lg shadow-lg py-2">
          <div class="flex justify-between items-center py-2">
            <h2 class="text-lg font-bold">Bøntider (Aarhus)</h2>
            <div class="relative group">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 text-gray-500 cursor-pointer"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 8v4m0 4h.01M21 12c0 4.97-4.03 9-9 9s-9-4.03-9-9 4.03-9 9-9 9 4.03 9 9z"
                />
              </svg>
              <span
                class="absolute bottom-full mb-2 left-1/2 transform -translate-x-1/2 text-xs bg-gray-800 text-white rounded py-1 px-4 w-64 opacity-0 group-hover:opacity-100 transition-opacity duration-200"
              >
                Fra {{ prayerTimes?.calculationsFrom }} via Aladhan API
              </span>
            </div>
          </div>

          <div>
            <div class="flex justify-between items-center py-2">
              <p class="font-medium">Fajr</p>
              <p class="font-semibold">
                {{ prayerTimes?.fajr }}
              </p>
            </div>

            <div class="flex justify-between items-center py-2">
              <p class="font-medium">Solopgang</p>
              <p class="font-semibold">
                {{ prayerTimes?.sunrise }}
              </p>
            </div>

            <div class="flex justify-between items-center py-2">
              <p class="font-medium">Dhuhr</p>
              <p class="font-semibold">
                {{ prayerTimes?.dhuhr }}
              </p>
            </div>
            <div class="flex justify-between items-center py-2">
              <p class="font-medium">Solnedgang</p>
              <p class="font-semibold">
                {{ prayerTimes?.sunset }}
              </p>
            </div>
            <div class="flex justify-between items-center py-2">
              <p class="font-medium">Maghrib</p>
              <p class="font-semibold">
                {{ prayerTimes?.maghrib }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="grid grid-cols-1 md:grid-cols-3 gap-8">
    <div
      class="bg-gray-100 dark:bg-gray-900 p-6 rounded-lg shadow-lg transition-colors duration-300"
    >
      <h2 class="text-2xl font-semibold mb-2">Seneste bøger</h2>
      <ul class="divide-y divide-gray-200 dark:divide-gray-700">
        <li class="py-2">
          <button
            (click)="downloadPdf('Kitab-al-Ghayba.pdf')"
            class="text-blue-700 dark:text-blue-300 hover:underline font-semibold"
          >
            Kitab al-Ghayba [ENG]
          </button>
          <p class="text-gray-700 dark:text-gray-300">
            Et værk af al-Nuʿmānī, som omhandler doktrinen om Imam al-Mahdis
            (aj) okkultation og hans forventede tilbagekomst.
          </p>
        </li>
        <li class="py-2">
          <button
            (click)="downloadPdf('Kitab-al-Irshad.pdf')"
            class="text-blue-700 dark:text-blue-300 hover:underline font-semibold"
          >
            Kitab al-Irshad [ENG]
          </button>
          <p class="text-gray-700 dark:text-gray-300">
            En biografi om de 12 imamers liv af Sheikh al-Mufid. Den beskriver
            deres historiske omstændigheder, mirakler og dyder.
          </p>
        </li>
      </ul>
    </div>

    <div
      class="bg-gray-100 dark:bg-gray-900 p-6 rounded-lg shadow-lg transition-colors duration-300"
    >
      <h2 class="text-2xl font-semibold mb-2">Kommende møder</h2>
      <ul class="divide-y divide-gray-200 dark:divide-gray-700">
        <li class="py-2 border-b border-gray-200 dark:border-gray-700">
          <p class="text-md font-bold text-blue-700 dark:text-blue-300 mb-2">
            17-08-2025
          </p>
          <p class="text-gray-700 dark:text-gray-300 text-sm mb-1">
            <b>Emne</b> Kitab al-Ghayba til side 78-98
          </p>
          <p class="text-gray-700 dark:text-gray-300 text-sm mb-1">
            <b>Sted</b> Engmarken 6, 8220 Brabrand
          </p>
          <p class="text-gray-700 dark:text-gray-300 text-sm mb-1">
            <b>Tid</b> 17:00
          </p>
        </li>
        <li class="py-2 border-b border-gray-200 dark:border-gray-700">
          <p class="text-md font-bold text-blue-700 dark:text-blue-300 mb-2">
            24-08-2025
          </p>
          <p class="text-gray-700 dark:text-gray-300 text-sm mb-1">
            <b>Emne</b> Kitab al-Ghayba til side 98-118
          </p>
          <p class="text-gray-700 dark:text-gray-300 text-sm mb-1">
            <b>Sted</b> Engmarken 6, 8220 Brabrand
          </p>
          <p class="text-gray-700 dark:text-gray-300 text-sm mb-1">
            <b>Tid</b> 17:00
          </p>
        </li>
      </ul>
    </div>

    <div
      class="bg-gray-100 dark:bg-gray-900 p-6 rounded-lg shadow-lg transition-colors duration-300"
    >
      <h2 class="text-2xl font-semibold mb-2">Vil du høre mere?</h2>
      <p class="text-gray-700 dark:text-gray-300">
        Hold dig opdateret med vores seneste nyheder, begivenheder og
        boganbefalinger ved at blive medlem af vores fællesskab.
      </p>
      <a
        href="mailto:bogklub@ikke-en-mail.com"
        class="bg-blue-600 text-white py-2 px-4 rounded-lg inline-block mt-4 hover:bg-blue-700 transition-colors duration-300"
        >Kontakt os</a
      >
    </div>
  </section>
</main>
