<div class="container mx-auto">
  <div class="text-center mb-12">
    <h1 class="text-4xl font-bold mb-4">Om os</h1>
    <p class="text-lg text-gray-700 dark:text-gray-300">
      Lær mere om vores bogklub, vores mission og teamet der gør det hele
      muligt.
    </p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <div
      class="bg-gray-100 dark:bg-gray-900 p-6 rounded-lg shadow-lg transition-colors duration-300"
    >
      <h2 class="text-2xl font-semibold mb-2">Vores mission</h2>
      <p class="text-gray-700 dark:text-gray-300">
        Vores mission er at fremme islamisk læring og forståelse gennem læsning
        og diskussion af bøger.
      </p>
    </div>
    <div
      class="bg-gray-100 dark:bg-gray-900 p-6 rounded-lg shadow-lg transition-colors duration-300"
    >
      <h2 class="text-2xl font-semibold mb-2">Vores værdier</h2>
      <p class="text-gray-700 dark:text-gray-300">
        Vi værdsætter tro, viden og fællesskab, og stræber efter at skabe et
        støttende og berigende miljø for alle medlemmer.
      </p>
    </div>
    <div
      class="bg-gray-100 dark:bg-gray-900 p-6 rounded-lg shadow-lg transition-colors duration-300"
    >
      <h2 class="text-2xl font-semibold mb-2">Vores team</h2>
      <p class="text-gray-700 dark:text-gray-300">
        Vores team består af dedikerede frivillige, som er passionerede omkring
        islamisk litteratur og læring.
      </p>
    </div>
  </div>
</div>
