@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind typography;

.image-md {
  width: 24rem;
  height: 100%;
}

.image-lg {
  width: 30rem;
  height: 100%;
}

@layer base {
  body {
    @apply dark:bg-stone-800 text-stone-800 dark:text-stone-100;
  }
}
